body
    {
        margin-left: auto;
        margin-right: auto;
        background-image: url(https://i.imgur.com/wlHRFXH.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        -webkit-background-size: cover;
        -moz-background-size: 100% 100%, auto;
        -o-background-size: 100% 100%, auto;
        background-size: 100% 100%, auto;
        height: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
    }

